.container {
    width: 100%;
    max-width: 560px !important;
    padding: 20px;
    background-color: var(--color-black-100);
    height: auto;
    max-height: 100vh;
    overflow-y: auto !important;
    animation: on 1s ease-in-out;
    display: flex;
    flex-direction: column;
}

.container .icon {
    max-width: 28px;
    filter: invert(100%);
}

.container .close__button {
    background: none;
    border: 0;
    color: var(--color-white-100);
    transition: var(--transition);
    font-size: 24px;
    line-height: 20px;
}

.container .close__button:hover {
    color: var(--color-white-50);
    cursor: pointer;
    transition: var(--transition);
}

.container .banner__image {
    width: 100% !important;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 1rem;
}

.container h2 {
    line-height: 32px;
}

.container p {
    color: var(--color-white-50) !important;
}

.container .button {
    width: 100%;
    background: var(--color-herbal-100);
    color: var(--color-white-100);
    padding: 12px;
    border: 0 !important;
    border-radius: 0.3rem;
    transition: var(--transition);
}

.container .button:hover {
    background: var(--color-herbal-90);
    transition: var(--transition);
    cursor: pointer;
}

@keyframes on {
    0% {
        margin-left: -600px;
    }
    100% {
        margin-left: 0;
    }
}